/* Soluzione qui */
@media screen and (min-width: 768px) {
    #topbar{
        justify-content: left;
        font-size: 1em;
    }

    .recipe{
        padding: 25px;
    }

    .recipe-origin{
        display: inline;
    }

    .recipe-name{
        font-size: 2em;
    }

    .quick-notes ul {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
    }
    .social-networks .btn{
        width: 230px;
    }

    .ads{
        display: block;
    }
    .clearfix img{
        float: left;
        margin-right: 20px;
        margin-bottom: 20px;
        max-width: 300px;
    }
    
    
}