/* Soluzione qui */
@media screen and (min-width: 576px){
      .clearfix img{
        float: left;
        margin-right: 20px;
        margin-bottom: 20px;
    }
    
    .social-networks .btn{
        width: 230px;
    }
}

@media screen and (min-width: 769px) {
    #topbar{
        justify-content: left;
        font-size: 1em;
    }

    .recipe{
        padding: 25px;
    }

    .recipe-origin{
        display: inline;
    }

    .recipe-name{
        font-size: 2em;
    }

    .quick-notes ul {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
    }
    .social-networks .btn{
        width: 230px;
    }

    .ads{
        display: block;
    }
    .clearfix img{
        float: left;
        margin-right: 20px;
        margin-bottom: 20px;
        max-width: 300px;
    }
    
    
}

@media screen and (min-width: 993px) {
    .recipe-info{
        padding: 10px;
    }

    .recipe-name{
        font-size: 2.5em;
    }
    .quick-notes ul{
        display: flex;
        flex-direction: column;
        
    }

    .recipe-card{
        display: flex;
        gap: 20px;
    }
    .recipe-video{
        width: 40vw;
        height: 50vh;
    }

    
      .social-networks .label{
        display: inline;
    }

    footer{
        display: flex;
        justify-content: space-between;
    }
}

